@font-face {
  font-family: 'EuroCaps';
  src: url('./fonts/eurocaps.ttf') format('truetype');
}

@font-face {
  font-family: 'Telegrama';
  src: url('./fonts/telegrama.otf') format('truetype');
}

:root {
  --yellowBorder: #9E885F;
}

html,
body {
  padding: 1rem;
  margin: 0;
  background: #111;
  font-family: 'EuroCaps', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
