@import url('https://fonts.googleapis.com/css2?family=Sintony&display=swap');

@font-face {
  font-family: 'EuroCaps';
  src: url('./fonts/eurocaps.ttf') format('truetype');
}

@font-face {
  font-family: 'Telegrama';
  src: url('./fonts/telegrama.ttf') format('truetype');
}

:root {
  --blue: #00b3f7;
  --blueHR: #0a8bd6;
  --orange: #ff7100;
  --orangeRow: #ff710025;
  --orangeButton: #ff710050;
  --orangeWeb: #f07b05;
  --green: #029e4c;
  --yellow: #ffb000;
  --yellowBorder: #9E885F;
  --alliance: #029e4c;
  --federationRed: #ff0000;
  --independentOrange: #ff7100;

}

html,
body {
  padding: 1rem;
  margin: 0;
  background: #111;
  font-family: 'EuroCaps', sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
